<!doctype html>
<html lang="en">

<head><% b=blogs %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%=b.title %>">
    <title>Blogging Website &ndash; ~"<%=b.wname %>" &ndash; "<%=b.title %>"  "<%=b.p1t %>" "<%=b.p2t %>" </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="img/png" href="/favicon.png">
    <script type="text/javascript" SRC="/picture-fall.js">
    
    </script>
    <style>
        .btn{
            padding-left: 10px;
            font-size: large;
        }
    </style>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="UZZmaSDI"></script>
</head>
<div id="fb-root"></div>


<body>

    <div class="header">
    <div class="home-menu ">
        <a class="pure-menu-heading" href="/">Genesis</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
            
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About us</a></li>

           
        </ul>
    </div>
</div>
        
            <div class="">
                <div class="content">


                    <div class="">
                        <div class="l-box ">

                            <h2 class="content-head is-center color3">
                                <i class="fa fa-check-square-o"></i>
                                <%=b.title %>
                            </h2>
                            <h4 class="blog floatr">
                                ~ <%=b.wname %>
                            </h4>
                            <h3 class="blog colo">
                                <%=b.p1t %>
                            </h3><br>
                            <p>
                            <h4 class="blog">
                             &nbsp;  <p>  <%=b.p1 %> </p>
                            </h4>
                            </p>

                            <br>
                            </h4>
                            <h3 class="blog colo">
                                <%=b.p2t %>
                            </h3><br>
                            <p>
                            <h4 class="blog">
                             &nbsp;   <p> <%=b.p2 %> <p>
                            </h4>
                            </p>


                        </div>

                        <br>
                        <hr>

                    </div>
                </div>
            </div>
            <%  
                s='https://genesis-one.herokuapp.com//blog/new672341/' + para            
            %>
            <div class="fb-share-button"  data-href=<%= s %> data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <% 
            if( user){
            %>
             <a href="/blog/new672341/edit/<%=para %>" class="btn" >Edit</a>

            <% }%>
</body>
